/* @media screen and (max-width: 960px) {
  .btn--next--arrow {
    left: 85vw;
  }
} */

/* .card--img {
  width: 239px;
  height: 182px;
} */

/* .slick-next {
  right: 25px;
  top: 100%;
}

.slick-prev {
  left: 25px;
  top: 100%;
} */