.newsfeed--categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 24px;
}

.newsfeed--cat {
  color: #d80388;
  text-transform: uppercase;
  margin-inline: 2rem;
  cursor: pointer;
}

.newsfeed--cat:hover {
  color: black;
}

.newsfeed--items--container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1462px;
  margin-left: auto;
  margin-right: auto;
}

.newsfeed--item--one {
  flex: 1 0 50%;
}

.newsfeed--item--one,
.newsfeed--item--two,
.newsfeed--item--three,
.newsfeed--item--four,
.newsfeed--item--five {
  width: 100%;
  height: 50%;
}

.newsfeed--item--one img,
.newsfeed--item--two img,
.newsfeed--item--three img,
.newsfeed--item--four img,
.newsfeed--item--five img {
  max-width: 100%;
}

.item--one--desc p,
.item--two--desc p,
.item--three--desc p,
.item--four--desc p,
.item--five--desc p {
  color: rgb(175, 175, 175);
  font-size: 14px;
}

@media screen and (min-width: 960px) {
  .newsfeed--items--container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }

  .newsfeed--item--one {
    grid-row: 1/span 2;
    max-width: 600px;
    padding: 5px;
  }

  .newsfeed--item--two {
    grid-column: 2 ;
    grid-row: 1;
    max-width: 750px;
    padding: 5px;
    margin-bottom: 15px;
  }

  .item--two--wrapper {
    display: flex;
    flex-direction: row;
  }

  .item--two--desc {
    margin-left: 15px;
  }

  .newsfeed--item--two img{
   max-width: 50%;
  }

  .newsfeed--item--three {
    grid-column: 2 ;
    grid-row: 2;
    max-width: 750px;
    padding: 5px;
    margin-bottom: 15px;
  }

  .item--three--wrapper {
    display: flex;
    flex-direction: row-reverse;
  }

  .item--three--desc {
    margin-left: 15px;
  }

  .newsfeed--item--three img{
   max-width: 50%;
  }

  .newsfeed--item--four {
    grid-column: 2 ;
    grid-row: 3;
    max-width: 750px;
    padding: 5px;
    margin-bottom: 15px;;
  }

  .item--four--wrapper {
    display: flex;
    flex-direction: row;
  }

  .item--four--desc {
    margin-left: 15px;
  }

  .newsfeed--item--four img{
   max-width: 50%;
  }

  .newsfeed--item--five {
    grid-column: 1 ;
    grid-row: 3;
    max-width: 600px;
    padding: 5px;
    margin-bottom: 15px;
  }

  .item--five--wrapper {
    display: flex;
    flex-direction: row-reverse;
  }

  .item--five--desc {
    /* margin-left: 15px; */
  }

  .newsfeed--item--five img{
   max-width: 50%;
  }

  .newsfeed--item--one img{
    max-width: 100%;
  }
}